body {
background: #CEAE9B;
text-align: center;
}
#main {
	width: 1000px;
	height: 600px;
	background: #ffab19;
	margin: 25px auto;
	border: solid 2px #000000;
	padding: 10px;
}
h1{
	text-align:center;
	font-family:"Times New Roman";
	font: 24pt;
	color: #000000;
}
p{
	font-family:"Calibre";
	font-size: 12pt;
	text-align:left;
	text-indent: 48px;
	color: #000000;
}