body {
background: #CEAE9B;
font-size:14pt;
}

#main {
	width: 1000px;
	height: auto;
	background: #ffab19;
	margin: 25px auto;
	border: solid 2px #000000;
	padding: 10px;
}
h1{
	text-align:left;
	font-family:"Consolas";
	font: 24pt;
	color: #000000;
	text-indent: 5px;
	margin-bottom:0px;
}
h2{
	text-align:center;
	font-family:"Consolas";
	font: 20pt;
	color: #000000;
}

p{
	font-family:"Consolas";
	font-size: 12pt;
	text-align:left;
	text-indent: 48px;
	color: #000000;
}
#header {
	background-color:#ffab19;
	height:80px;
	width: 100px;
	margin-bottom:10px;
}

.img-me{
	width: 150px;
	margin-top: 0px;
}
.img-boxplot{
	display:block;
	width: 700px;
	margin-right:auto;
	margin-left:auto;

}


.fa {
  padding: 15px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-twitter {
  background: #55ACEE;
  color: white;

}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.post {
	background-color:#ffffff;
	padding: 5px;
	border:solid 2px #ffab19;
	border-bottom: 5px;

}
.post p {
	margin-bottom: 10px;
	
}
h2 {
	text-align:center;
	font-family:"Consolas";
	font: 16pt;
	color: #000000;
	text-indent: 10px;
}

